@media (min-width: 180px) and (max-width:320px) {
	#bank_name {
	 font-size:10px;
	}
	#vertabout a, #vertservices a, #vertblog a, #vertportfolio a {
		font-size: 13px;
	}
	#vertabout img, #vertservices img, #vertblog img, #vertportfolio img {
		width: 60px;
	}
}
@media (min-width: 320px) {
	#bank_name {
	 font-size:10px;
	}
	#vertabout a, #vertservices a, #vertblog a, #vertportfolio a {
		font-size: 13px;
	}
	#vertabout img, #vertservices img, #vertblog img, #vertportfolio img {
		width: 60px;
	}
}
@media (min-width: 768px) {
	#bank_name {
	 font-size:12px;
	}
	#vertabout a, #vertservices a, #vertblog a, #vertportfolio a {
		font-size: 16px;
	}
	#vertabout img, #vertservices img, #vertblog img, #vertportfolio img {
		width: 74px;
	}
}

@media (min-width: 992px) {
	#bank_name {
	 font-size:12px;
	}
	#vertabout a, #vertservices a, #vertblog a, #vertportfolio a {
		font-size: 16px;
	}
	#vertabout img, #vertservices img, #vertblog img, #vertportfolio img {
		width: 74px;
	}
}

@media (min-width: 1200px) {
	#bank_name {
	 font-size:12px;
	}#vertabout a, #vertservices a, #vertblog a, #vertportfolio a {
		font-size: 16px;
	}
	#vertabout img, #vertservices img, #vertblog img, #vertportfolio img {
		width: 74px;
	}
}