article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
body {
  background: none repeat scroll 0 0 #fff;
}
/*Define Accordion box*/
.accordion { width:100%; overflow:hidden; margin:10px auto; color:#474747; padding:10px; border:1px solid #d9d9dd; border-radius:5px;}

/*General Accordion****************************************************************************/
/*Set style of open slide*/
.accordion section:target { background:#FFF; padding:10px;}
.accordion section:target:hover { background:#FFF; }
.accordion section:target h2 {width:100%;}
.accordion section:target h2 a{ color:#333; padding:0;}
.accordion section:target p {display:block;}
.accordion section h2 a{padding:8px 10px;display:block; font-size:16px; font-weight:normal;color:darkcyan; text-decoration:none; }

/*set style of closed slide*/
.accordion section{ float:left;	overflow:hidden; color:#8d8d8d; cursor:pointer; #EA7265 none repeat scroll 0 0; margin:3px 0px; }
.accordion section:hover {background:darkcyan;}
.accordion section p { display:none; }
.accordion section:after{position:relative;font-size:24px;color:#000;font-weight:bold;}
/* .accordion section:nth-child(1):after{content:'1';}
.accordion section:nth-child(2):after{content:'2';}
.accordion section:nth-child(3):after{content:'3';}
.accordion section:nth-child(4):after{content:'4';}
.accordion section:nth-child(5):after{content:'5';} */
/*End General Accordion****************************************************************************/

/*Horizontal Accordion *********************************************************************/
.horizontal section{ width:5%; height:250px; 
	-moz-transition:width 0.2s ease-out; 
	-webkit-transition:width 0.2s ease-out;
  	-o-transition:width 0.2s ease-out;
	-ms-transition:width 0.2s ease-out;
  	transition:width 0.2s ease-out;
}

/*Position the number of the slide*/
.horizontal section:after{top:140px;left:15px;}

/*Header of closed slide*/
.horizontal section h2 { 
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	width:240px; position:relative; left:-100px; top:85px;
} 

/*On mouse over open slide*/
.horizontal :target{ width:73%;height:230px; }
.horizontal :target h2{ top:0px;left:0;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg); 
}
/*End Horizontal Accordion *********************************************************************/

/*Vertical Accordion *************************************************************************/
.vertical section{ width:100%; height:70px;
	-webkit-transition:height 0.2s ease-out;
	-moz-transition:height 0.2s ease-out;
  	-o-transition:height 0.2s ease-out;
	-ms-transition:height 0.2s ease-out;
  	transition:height 0.2s ease-out;
}
/*Set height of the slide*/
.vertical :target{ height:auto; width:100%; }

.vertical section h2 { position:relative; left:0; top:-15px; }

/*Set position of the number on the slide*/
.vertical section:after{ top:-60px;left:810px;}
.vertical section:target:after{ left:-9999px;}



/* added by shojibflamon */
#vertaboutC img, #vertabout img, #vertservices img, #vertblog img, #mobile_banking img, #internet_banking img {
  border: 1px solid green;
  border-radius: 5px;
  height: 50px;
  width: 74px;
}
.accordion section{
	border: 1px solid #d9d9dd;
	border-radius: 5px;
}


a.dt-sc-toggle::before, p.dt-sc-toggle-accordion.active::before, .dt-sc-sorting-container a:hover, .dt-sc-button, .blog-post:hover .entry-meta, .dt-sc-pr-tb-col .dt-sc-buy-now .button, .dt-sc-pr-tb-col:hover, .dt-sc-ico-content li:hover i, ul.dt-sc-ico-content li.active i, .dt-sc-toggle-frame:hover p.dt-sc-toggle-accordion::before, #mailchimp-form p.submit input[type="submit"], button, input[type="button"], .post-pagination a, .blog-single-entry .entry-meta, .bx-controls .bx-prev, .bx-controls .bx-next, .mean-container .mean-nav ul li a, #magic-line-two, .mean-container a.meanmenu-reveal span, .page-title, .dt-sc-sorting-container a.active-sort, .widget_tag_cloud a:hover, .fullwidthbanner-container a.dt-sc-button:hover, .ls-l.slider-button, #header.type3 #main-menu ul li.current_page_item, #header.type3 #main-menu ul li a:hover, .dt-sc-blockquote-content h6, .dt-sc-ico-content.type2 .fa, .progress-bar:hover i, .progress-bar:hover .dt-sc-progress, #contact-form .fav-pick span.active, .tp-caption.white_small_border_btn:hover, #header.type3 #main-menu ul li.menu-item a:hover, #header.type3 #main-menu li.menu-item:hover, .mean-container .mean-nav ul li a.mean-expand, .dt-sc-button.transparent:hover, .sb-slidebar ul li.current_page_item a, .sb-slidebar ul li a:hover, .pushy, .purchase-button, .tabs-container.team-tab .tabs-frame-content .team-details .team-details-info .column, .dt-sc-contact-form .contact-form p.submit i, #comment-form p.submit:hover input, #comment-form p.submit i, #search-form p.submit input, .about-us .about-us-details a i, table.skin th {
  background: #e64d3d none repeat scroll 0 0;
  color: #fff;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.dt-sc-button.medium {
  font-size: 16px;
  padding: 2px 20px 0;
}
.purchase-button .dt-sc-button {
  border: 1px solid #fff;
  margin: 25px 0;
  position: relative;
  padding:10px;
  text-decoration:none;
  transition: all 0.5s ease;
}
.purchase-button .dt-sc-button:hover {
  background: #FFF;
  padding: 15px;
  color:#000;
  border:1px solid green;
}
.dt-sc-button {
  border: medium none;
  border-radius: 3px;
  font-weight: bold;
  line-height: 60px;
  margin: 10px 0 0;
  overflow: visible;
  padding: 5px 30px;
  text-align: center;
  /* text-transform: uppercase; */
}
.dt-sc-button, .social-media li a, .tagcloud a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  outline: medium none;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.dt-sc-button.with-icon i {
  bottom: 0;
  color: #fff;
  line-height: inherit;
  opacity: 0;
  position: absolute;
  top: 0;
  vertical-align: middle;
}


#vertabout a, #vertaboutC a, #vertservices a, #vertblog a, #mobile_banking a, #internet_banking a {
  background-color: #f7f8f9;
  border: 1px solid #d9d9dd;
  border-radius: 5px;
}

a, input[type="submit"], button, input[type="button"], .dt-sc-ico-content h4, .dt-sc-pr-tb-col:hover::after, .portfolio .portfolio-thumb > img, .portfolio:hover .portfolio-thumb > img, .portfolio-title p, .button.ico i::after, .button.ico:hover i::after, .post-detail .entry-body p, .post-detail:hover .entry-body p, .timeline .blog .post-detail:hover, .blog-post .post-detail, .blog-post:hover, .blog-post .entry-meta, .post-detail .entry-body p, .post-detail:hover .entry-body p, .post-detail .entry-metadata p i, .post-detail:hover .entry-metadata p i, .blog-post:hover .date p, .blog-post .entry-meta .date p, .blog-post:hover .entry-details h4, .blog-post:hover .entry-details h4 a, .blog-post:hover .entry-details p, .blog-post:hover .entry-details p a, .blog-post:hover .entry-meta .date, .blog-post:hover .entry-meta p.comments, .blog-post:hover .entry-meta p.comments a, .dt-sc-pr-tb-col p, .dt-sc-pr-tb-col:hover p, .dt-sc-pr-tb-col:hover .dt-sc-tb-content li, .dt-sc-tb-content li, .dt-sc-pr-tb-col:hover .dt-sc-tb-content li.no::before, .dt-sc-tb-content li.no::before, p.dt-sc-toggle-accordion::before, .dt-sc-toggle-frame:hover p.dt-sc-toggle-accordion::before, p.toggle-accordion::before, .dt-sc-ico-content li:hover i, .dt-sc-ico-content li i, .dt-sc-ico-content li, #contact-form p, #contact-form p:hover, #mailchimp-form p:hover, #mailchimp-form p, .dt-sc-ico-content.type1:hover .fa::after, .dt-sc-ico-content.type1 .fa::after, .dt-sc-ico-content.type1:hover .fa, .dt-sc-ico-content.type1 .fa, .dt-sc-ico-content.type1:hover p::before, .dt-sc-ico-content.type1 p::before, .dt-sc-ico-content.type1:hover h3::after, .dt-sc-ico-content.type1 h3::after, .parallax .dt-sc-ico-content p, .parallax .dt-sc-ico-content i, .parallax .dt-sc-ico-content li:hover > p, .parallax .dt-sc-ico-content li:hover > i, .dt-sc-ico-content.type1:hover p, .dt-sc-ico-content.type1 p, .dt-sc-ico-content.type1:hover h3 a, .dt-sc-team:hover p, .dt-sc-team:hover .dt-sc-social-icons ul li a, .dt-sc-team .dt-sc-social-icons ul li a, .right .post-detail::after, .right:hover .post-detail::after, .left .post-detail::before, .left:hover .post-detail::before, #comment-form p:hover, #comment-form p, .entry-meta:hover, .entry-meta, .post-detail span, aside.widget ul li:hover a::before, aside.widget ul li a::before, .dt-sc-team p, .dt-sc-team p:hover, .fullwidthbanner-container a.dt-sc-button:hover, .fullwidthbanner-container a.dt-sc-button, #toggle-panel, .blog-post .entry-thumb .image-overlay, .blog-post.alignright .entry-thumb .image-overlay, .blog-post:hover .entry-thumb .image-overlay, .progress-bar:hover i, .progress-bar i, .progress-bar:hover .dt-sc-progress, .progress-bar .dt-sc-progress, .dt-sc-ico-content.type2:hover i, .dt-sc-ico-content.type2 i, .dt-sc-services .fa, .dt-sc-services:hover .fa, #toggle-panel a:hover::before, #toggle-panel a::before, #header.type3 #main-menu li.menu-item a, #header.type3 #main-menu li.menu-item a:hover, #header.type3 #main-menu li.menu-item, .is-sticky, .sticky-wrapper, .sticky-wrapper #header.type4, .sticky-wrapper.is-sticky #header.type4, .portfolio figure:hover figcaption, .portfolio figure figcaption, .dt-sc-button.with-icon i, .dt-sc-button.with-icon:hover i, .portfolio figcaption .fig-overlay h6, .portfolio figcaption .external-icons, .portfolio:hover figcaption .fig-overlay h6, .portfolio:hover figcaption .external-icons, .dt-sc-services .special::after, .dt-sc-services .special::before, .dt-sc-services:hover .special::after, .dt-sc-services:hover .special::before, .dt-sc-contact-form .contact-form p.submit::after, .dt-sc-contact-form .contact-form p.submit:hover::after, .dt-sc-contact-form .contact-form p.submit i, .dt-sc-contact-form .contact-form p.submit:hover > i, .dt-sc-pr-tb-col::after, .dt-sc-pr-tb-col:hover::after, .about-us .about-us-details a:hover::before, .about-us .about-us-details a::before, .copyright .dt-sc-social-icons ul li, .copyright .dt-sc-social-icons ul li:hover, .copyright .dt-sc-social-icons ul li:hover i, .copyright .dt-sc-social-icons ul li i, #comment-form p.submit:hover::after, #comment-form p.submit::after, #comment-form p.submit i, .team-tab ul.tabs-frame li a::before, ul.dt-sc-ico-content.alignleft li i::after, ul.dt-sc-ico-content.alignright li i::after, ul.dt-sc-ico-content.alignleft li:hover i::after, ul.dt-sc-ico-content.alignright li:hover i::after, .dt-sc-pr-tb-col, .dt-sc-pr-tb-col:hover, .dt-sc-tb-header .dt-sc-tb-price, .dt-sc-tb-title h5, .dt-sc-pr-tb-col .dt-sc-buy-now, .about-us .about-us-details a::after, .about-us .about-us-details a:hover::after, .about-us-details a:hover i, .about-us-details a i, .about-us-details a, .about-us-details a:hover, .entry-metadata p, ul.tabs-frame li a.current::before, ul.tabs-frame li a.current::after, ul.tabs-frame li a::before, ul.tabs-frame li a::after, .dt-sc-pr-tb-col .dt-sc-tb-title::after, .dt-sc-pr-tb-col:hover .dt-sc-tb-title::after, .dt-sc-pr-tb-col .dt-sc-tb-price::after, .dt-sc-pr-tb-col:hover .dt-sc-tb-price::after, .dt-sc-pr-tb-col .dt-sc-tb-header .dt-sc-tb-price span.value, .dt-sc-pr-tb-col:hover .dt-sc-tb-header .dt-sc-tb-price span.value, .blog-post .entry-thumb .image-overlay::after, .blog-post.alignright .entry-thumb .image-overlay::before, .blog-post:hover .entry-thumb .image-overlay, .blog-post:hover .entry-thumb .image-overlay::after, .blog-post .entry-thumb .image-overlay a:hover > i, .blog-post .entry-thumb .image-overlay a i, .parallax:hover .dt-sc-testimonial .dt-sc-testimonial-arrows, .dt-sc-testimonial .dt-sc-testimonial-arrows, .bx-controls .bx-prev::before, .bx-controls .bx-next::after, .bx-controls .bx-prev:hover::before, .bx-controls .bx-next:hover::after, .tabs-container.team-tab ul.tabs-frame a .square, .tabs-container.team-tab ul.tabs-frame a:hover .square, .tabs-container.team-tab .tabs-frame-content .dt-sc-social-icons li a i, .tabs-container.team-tab .tabs-frame-content .dt-sc-social-icons li a i:hover, .blog-post.dt-sc-fullwidth .entry-thumb img {
  transition: all 300ms linear 0s;
}
.module {
  border: 1px solid #d2d4d8;
  border-radius: 3px;
  margin-bottom: 15px;
}
.module .module-head {
  background: none repeat scroll 0 0 #f7f8f9;
  border-bottom: 1px solid #d9d9dd;
  border-radius: 2px 2px 0 0;
  height: auto;
}
.module .module-head > a, .module .module-head > b {
  color: #727476;
  display: inline-block;
  font-weight: 500;
  padding: 10px 15px;
}
.module .module-body {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0 0 2px 2px;
  padding: 15px;
}


.btn.btn-success.btn-block {
  height: 40px;
  padding: 10px;
  font-size:12px;
}

#bank_name {
  border: 1px solid green;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: darkblue;
  padding: 8px 5px;
}
.radio-inline, .checkbox-inline {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin: 15px 10px;
  padding-left: 20px;
  vertical-align: middle;
}
.card_selection_container{
  /* border: 1px solid #e64d3d; */
  border: 1px solid green;
  border-radius: 5px;
}
.aligncenter.purchase-button{
  /* background-color: #e64d3d; */
  background-color: #c0392b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 90px;
}
.aligncenter.purchase-button a{
	color:#FFF;
}

