/* Sticky footer styles
-------------------------------------------------- */
/* html,
body {
  height: 100%;
  background:#f4f4f4;
} */
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
.radio-inline {
  margin-bottom: 15px !important;
}
/* Set the fixed height of the footer here
#footer {
  height: 60px;
  background-color: #f5f5f5;
}*/


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 10px 0px;
}
.container .credit {
  margin: 20px 0;
}

.nav .nav-justified{
	background:-moz-linear-gradient(top,#e7e897,#e9ea89,#eff078,#d6d852);
	background:-webkit-linear-gradient(top,#e7e897,#e9ea89,#eff078,#d6d852);
	background:-ms-linear-gradient(top,#e7e897,#e9ea89,#eff078,#d6d852);
	background:-o-linear-gradient(top,#e7e897,#e9ea89,#eff078,#d6d852);
	background:linear-gradient(top,#e7e897,#e9ea89,#eff078,#d6d852);
	border-radius:5px;
}

.nav .nav-justified li a:link{
	color:#656633;
}

.nav .nav-justified li a:hover{
	background:-moz-linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	background:-webkit-linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	background:-ms-linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	background:-o-linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	background:linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	color:#656633;
}

.nav .nav-justified li a:active{
	background:-moz-linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	background:-webkit-linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	background:-ms-linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	background:-o-linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	background:linear-gradient(top,#d6d852,#eff078,#e9ea89,#e7e897);
	color:#656633;
}

.nav .nav-justified li a:visited{
	color:#656633;
}

.custom_panel h3{
	font:bold 16px Tahoma;
	color:#156;
}

.features ul{
	list-style-image:url("../../../../images/icon-check.png");
	margin-top:6px;
	padding-top:6px;
	line-height:1.9em;
}

#footer {
	background:-moz-linear-gradient(top,#079833,#057b29,#045f20,#023813);
	background:-webkit-linear-gradient(top,#079833,#057b29,#045f20,#023813);
	background:-ms-linear-gradient(top,#079833,#057b29,#045f20,#023813);
	background:-o-linear-gradient(top,#079833,#057b29,#045f20,#023813);
	background:linear-gradient(top,#079833,#057b29,#045f20,#023813);
	padding:10px 0 30px 0;
}
#footer h3{
	font:bold 15px Tahoma;
	color:yellow;
}

#footer ol{
	margin:0;
	padding:0;
	padding-left:15px;
	list-style:none;
	list-style-type:square;
	color:#fff;
}

#footer ol li a:link{
	list-style:none;
	color:#fff;
	line-height:1.9em;
	padding-left:0;
	-moz-transition:-moz-transform .5s,padding-left .5s;
	-webkit-transition:-webkit-transform .5s,padding-left .5s;
	-ms-transition:-ms-transform .5s,padding-left .5s;
	-o-transition:-o-transform .5s,padding-left .5s;
}

#footer ol li a:visited{
	color:#fff;
}

#footer ol li a:hover{
	-moz-transform:position(360deg);
	-webkit-transform:position(360deg);
	-ms-transform:position(360deg);
	-o-transform:position(360deg);
	padding-left:5px;
	color:#e3f421;
}

#copyright{
	text-align:center;
	margin-top:40px;
	color:#6efd9a;
	border-top:1px dashed #6efd9a;
	padding-top:10px;
}

code {
  font-size: 80%;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: green;
    color: #fff;
}
#bKash img {
  border-radius: 10px;
  height: 80px !important;
}
div #customer_info{
	padding:8px;
}

