/*Chatbox new styles*/
.customer-chat-container{
    position: fixed;
    bottom: 0px;
    min-height: 20px;
    height: auto;
    border-bottom: 0px;
    background: #fff;
    width: 350px;
    right: 50px;
    z-index: 999;
}
.customer-chat-container .head{
    background: #0FB46E;
    color: #fff;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}
.customer-chat-container .head i.fa-comment-o{
    color: #fff;
}
.chat-field{
    width:100%;
    height: 350px;
    overflow: auto;
    background: #dedede;
    box-sizing: border-box;
    padding: 0px 15px;
    position: relative;
}
.welcome-message{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    color: #333;
    line-height: 16px;
}
.customer-quote-row{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.customer-quote{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    color: #333;
    line-height: 16px;
    width: auto;
    min-width: 30px;
    float: left;
}
.service-quote-row{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.service-quote{
    background: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    color: #333;
    line-height: 16px;
    width: auto;
    min-width: 30px;
    float: right;
    margin-right: 7px;
}
.chat_name{
    font-style: italic;
    font-weight: 600;
}
.input-box-chat{
    position: absolute;
    width: 100%;
    min-height: 20px;
    padding: 7px 15px;
    bottom: 0px;
    background: #fff;
    left: 0px;
}
.input-box-chat p{
    margin: 0px;
    margin-bottom: 5px;
    text-align: center;
}
.input-box-chat p span{
    font-style: italic;
    font-weight: bold;
}
.chat-input{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
}
.prod_name_fix{
    width: 240px;
    height: 50px;
}
.user-image{
    width: 70%;
    box-sizing: border-box;
    float: left;
}
.chat-mall{
    width: 30%;
    box-sizing: border-box;
    float: left;
}
.user-image img{
    width: 50px;
    height: 50px;
    border: 1px solid #111;
    float: left;
    margin-right: 5px;
}
.user-image p.bold{
    font-weight: bold;
}
.user-image p{
    color: #000;
}
.pre-start-chat{
    padding: 7px;
    background: #fff;
}
.down-chat{
    background: #3C8364;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 39px;
    text-align: center;
    top: 5px;
    width: 30px;
    font-size: 25px;
}
.cross-chat{
    background:#3C8364;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 30px;
    font-size: 15px;
}
.prompt-question{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #eee;
    top: 0px;
    left: 0px;
    z-index: 9;
    text-align: center;
}
.prompt-question h3{
    font-size: 16px;
    padding: 15px;
    color:#000;
    margin-top: 20px;
    font-weight: bold;
}
.prompt-question button.yes{
    background: #0FB46E;
    color: #fff;
    padding: 7px 15px;
    margin: 5px;
}
.prompt-question button.no{
    background: #d35400;
    color: #fff;
    font-size: 15px;
    padding: 7px 15px;
    margin: 5px;
}
.visible-window{
    height: 200px;
    overflow: auto;
}
/*Chatbox new styles*/
/*Tanveer 24-03-2016*/

