/*Chatbox new styles*/

.customer-chat-container{
    position: fixed;
    bottom: 0px;
    min-height: 20px;
    height: auto;
    border-bottom: 0px;
    background: #fff;
    width: 300px;
    right: 50px;
    z-index: 999;
}
.customer-chat-container .head{
    background: #0FB46E;
    color: #fff;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}
.customer-chat-container .head i.fa-comment-o{
    color: #fff;
}
.chat-field{
    width:100%;
    height: 350px;
    overflow: auto;
    background: #dedede;
    box-sizing: border-box;
    position: relative;
}
.welcome-message{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    color: #333;
    line-height: 16px;
}
.customer-quote-row{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.customer-quote{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    color: #333;
    line-height: 16px;
    width: auto;
    min-width: 30px;
    float: left;
}
.service-quote-row{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.service-quote{
    background: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    color: #333;
    line-height: 16px;
    width: auto;
    min-width: 30px;
    float: right;
}
.chat_name{
    font-style: italic;
    font-weight: 600;
}
.input-box-chat{
    position: absolute;
    width: 100%;
    min-height: 20px;
    padding: 7px 15px;
    bottom: 0px;
    background: #fff;
    left: 0px;
}
.input-box-chat p{
    margin: 0px;
    margin-bottom: 5px;
    text-align: center;
}
.input-box-chat p span{
    font-style: italic;
    font-weight: bold;
}
.chat-input{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
}
.prod_name_fix{
    width: 240px;
    height: 50px;
}
.visible-window{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 275px;
    overflow: auto;
    padding: 15px;
}
/*Chatbox new styles*/
/*Tanveer 24-03-2016*/

