@font-face {
	font-family: 'fa-snapchat';
	src:url('../spanp_chat_fonts/fa-snapchat.eot?-73zac');
	src:url('../spanp_chat_fonts/fa-snapchat.eot?#iefix-73zac') format('embedded-opentype'),
		url('../spanp_chat_fonts/fa-snapchat.ttf?-73zac') format('truetype'),
		url('../spanp_chat_fonts/fa-snapchat.woff?-73zac') format('woff'),
		url('../spanp_chat_fonts/fa-snapchat.svg?-73zac#fa-snapchat') format('svg');
}

.fa-snapchat:before {
	font-family: 'fa-snapchat';
	content: "\e600";
}